.auth-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-left {
  flex: 1;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.welcome-text {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  padding: 20px;
  border-radius: 8px;
}

.welcome-text h2 {
  margin: 0 0 10px 0;
  font-size: 2rem;
}

.auth-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 40px;
}

.auth-form-container {
  width: 100%;
  max-width: 400px;
}

.auth-form-container h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 30px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 20px;;
}

.input-group label {
  display: block;
  color: #555;
  font-size: 0.9rem;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #f7f7f7;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.auth-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #0d1b2a;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: #1b263b;
}

.auth-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.auth-links a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}

.auth-links a:hover {
  text-decoration: underline;
}